<nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
    <a href="#" class="navbar-brand">DJ</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navLinks">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/artists" class="nav-link">ARTISTS</a>
            </li>
            <li class="nav-item">
                <a href="/contact" class="nav-link">FEEDBACK</a>
            </li>
            <li class="nav-item">
                <a href="/chat" class="nav-link">CHAT</a>
            </li>
            <li class="nav-item">
                <a href="https://untold.com/tickets" class="nav-link">TICKETS</a>
            </li>
        </ul>
    </div>
</nav>
