<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bootstrap Site</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
            integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <!-- <div class="parallax"></div> -->
        <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
            <a href="http://localhost:3000/" class="navbar-brand">DJ</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navLinks">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="http://localhost:3000/" class="nav-link">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://localhost:3000/contact" class="nav-link">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://untold.com/tickets" class="nav-link">TICKETS</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="headingGroup" class="text-white text-center d-none d-lg-block mt-5">
            <h1>TechnoTrio</h1>
        </div>

        <div class="Mainform">
            <div class="row header">
                <h1>CONTACT US:</h1>
            </div>
            <div class="row body">
                <form id="tweetForm" action="#">
                    <p class="left">
                        <label for="first_name">First name</label>
                        <input id="name" type="text" name="name" placeholder="username" id="" />
                    </p>
                    <p>
                        <label for="email">email <span class="req">*</span></label>
                        <input id = "email" type="email" name="email" placeholder="john.smith@gmail.com" />
                    </p>
                    <p> <label for="comments">Comments</label>
                        <input id = "comment" type="text" name="comment" placeholder="comment" id="">
                    </p>
                    <button class="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="leaveFeedback">
            <ul id="tweets"></ul>
        </div>
        

        </form>
        </div>
        </div>

        <script src="/java/contactForm.js"></script>
    </body>

</html>
