<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous" />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/styles.css" />

        <title>TECHNO TRIO</title>
    </head>

    <body>
        <div class="parallax"></div>
       <%- include ('partials/nav.ejs') %> 
        <div id="headingGroup" class="text-white text-center d-none d-lg-block mt-5">
            <h1 class="albumsTextIndx1">TechnoTrio</h1>
            <h3 class="bandInfo albumsTextIndx3">A good fusion of techno records and minimal sounds without ever being taken for granted: <br/>France, Spain, Portugal,
            Italy, Greece, Turkey, Switzerland, Germany, Morocco, Slovenia, Malaysia, Indonesia, Armenia, Russia, America and
            continues to produce music forever
       </h3>
        </div>
        <section class="container-fluid px-0">
        <div class="row align-items-center"></div>
        </section>
        <div class="parallax"></div>
        <section class="container-fluid px-0">
            <div class="row align-items-center content">
                <div class=" headPic col-md-6 order-2 order-md-1">
                    <img class="headPic" src="/images/mainPic/head_pic.jpeg" alt="">
                    
                </div>
                <div class="col-md-6 text-center order-1 order-md-2">
                    <div class="row justify-content-center">
                        <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                            <h2 class="albumsTextIndx1">TOP TRACKS</h2>
                            <ul>
                            <% tracks.forEach(picture=> { %>
                                <li class="topTracks" > <%= picture %> </li>
                                <% }) %>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="albums">
            <h2 class="albumsText albumsTextIndx1">ALBUMS</h2>
            <div class="albumsList">
                <!-- loop through artistIMG array --> 
                <% albums.forEach(picture=> { %>
                <img class="albumI" src="/images/artists/<%= picture %> " alt="">
                <% }) %>
            </div>
        </div>


        <script src="https://kit.fontawesome.com/fab316d457.js" crossorigin="anonymous"></script>
    </body>

</html>
